
.products-wrapper
{
  position: static;
  margin: 30px 5px 30px 5px;
  padding: 0px;
  text-align: center;
}

.product
{
  position: static;
  display: inline-block;
  vertical-align: top;
  margin: 1px 1px 2px 1px;
  padding: 0px;
  height: 400px;
  width: 300px;
  background-color: #ffcc00;
  z-index: 3;
}

.product img
{
  position: static;
  width: 80%;
  top: 20px;
  height: 40%;
}

.product p
{
  text-align: left;
  max-height: 90px;
  overflow:hidden;
  margin: 20px 20px 20px 20px;
}

.product #cena
{
  text-align: right;
  margin: 20px 20px 20px 20px;
}
